<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Contact Us</h3>
                <p>If you have any questions or inquiries, feel free to reach out to us.</p>
                <ul class="list-unstyled">
                    <li><a href="#">Email: LM@yolkyhaddock.org</a></li>
                    <li><a href="https://github.com/YolkyHaddock597">Github: YolkyHaddock597</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Follow Us</h3>
                <p>Stay connected with us on social media for updates and news.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/YolkyHaddock597"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-reddit"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <!-- Add more social media icons as needed -->
                </ul>
            </div>
        </div>
        <hr>
        <p>&copy; YolkyHaddock597 2022-2024. All rights reserved.</p>
    </div>
</footer>