<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
	<title>YolkyHaddock597</title>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS -->
	<link href="/static/thing.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/price.css" rel="stylesheet"> </head>
    {% include 'googleana.html' %}
<body>
	<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

	{% include 'Header.html' %}
	<div class="flex-wrapper">
		<main role="main">
			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3">Api Pricing Selection</h1>
					<p>We current offer the housefinder API and will offer more in the future.</p>
					<p><a class="btn btn-primary btn-lg" href="/" role="button">See Uses &raquo;</a></p>
				</div>
			</div>
	</div>
    <div class="container-fluid">
        <div class="container p-5">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card1 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title">Basic</h5>
                  <small class='text-muted'>400 Requests</small>
                  <br><br>
                  <span class="h2">Free!</span>
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block">Select</button>
                  </div>
                  <ul>
                    <li>Access to houseFinder API</li>
                    <li>400 Requests</li>
                    <li>Free No Card Required</li>
                    
                  </ul>
                </div>
    
                
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card2 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title">Standard</h5>
                  <small class='text-muted'>2500 Requests</small>
                  <br><br>
                  <span class="h2">$5</span>
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block" onclick="alert('Sorry This Option Is Not Avalible Yet!')">Select</button>
                  </div>
                  <ul>
                    <li>Access to houseFinder API</li>
                    <li>2500 Requests + 400 Free</li>
                    <li>Payent Through Stripe</li>
                    
                  </ul>
                </div>
    
                
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card card3 h-100">
                <div class="card-body">
                 
                  <h5 class="card-title">Unlimited</h5>
                  <small class='text-muted'>1 GB Transfer Max</small>
                  <br><br>
                  <span class="h2">$35</span>/month
                  <br><br>
                  <div class="d-grid my-3">
                    <button class="btn btn-outline-dark btn-block" onclick="alert('Sorry This Option Is Not Avalible Yet!')">Select</button>
                  </div>
                  <ul>
                    <li>Access to houseFinder API</li>
                    <li>Limitations May Apply</li>
                    <li herf="/dev">1 GB Transfer Max</li>
                    
                  </ul>
                </div>
    
                
              </div>
            </div>
          </div>
          <a href="/terms">See terms and condtions</a>
        </div>
	{% include 'footer.html' %}
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>

    -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> </body>

</html>